PORT=5001
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/pizza-palace
JWT_SECRET=pizza_palace_super_secret_jwt_key_change_in_production
JWT_EXPIRE=24h
CLIENT_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_Sw2Pzl29Xjdqqz
RAZORPAY_KEY_SECRET=07gn5kgMRZuY4m2LA7eWzGw8
